
  <p id="notice"><%= notice %></p>

  <h1>ブログ一覧</h1>
  <br>
        <% @blogs.each do |blog| %>
          <div class="row">
            <p>投稿者：<%= blog.user.name %></p>
            <p>タイトル：<%= blog.title %></p>
            <p>コメント：<%= blog.content %></p>
            <%= link_to 'Show', blog, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-default' %>
            <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
          <br>
        <% end %>
  <br>

  <%= link_to '新しく作成する', new_blog_path %><br>
  <%= link_to 'トップへ', root_path %><br>
